<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<title>LONGWEI IDS</title>

<style>

body{
background-image:url("/static/dragon.jpg");
background-size:cover;
background-position:center;
font-family:Arial;
color:white;
}

h1{
text-align:center;
font-size:40px;
text-shadow:0 0 15px red;
}

table{
margin:auto;
border-collapse:collapse;
background:rgba(0,0,0,0.75);
}

th,td{
padding:10px 20px;
border:1px solid red;
}

th{
background:red;
}

.alert{
color:red;
font-weight:bold;
}

</style>
</head>

<body>

<h1>🐉 LONGWEI IDS DASHBOARD</h1>

<h2 style="text-align:center;">Threat Level: {{ threat }}</h2>
<h3 style="text-align:center;">Total Alerts: {{ count }}</h3>
<h2>Attack Activity (Last 24 Hours)</h2>

<canvas id="attackChart"></canvas>

<script>
const ctx = document.getElementById('attackChart');

new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ labels|tojson }},
        datasets: [{
            label: 'Attacks',
            data: {{ values|tojson }},
            borderColor: 'red',
            backgroundColor: 'rgba(255,0,0,0.2)',
            tension: 0.3
        }]
    }
});
</script>
<h2>Top Attacking Countries</h2>

<canvas id="countryChart"></canvas>

<script>
const ctx2 = document.getElementById('countryChart');

new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: {{ country_labels|tojson }},
        datasets: [{
            label: 'Attacks by Country',
            data: {{ country_values|tojson }},
            backgroundColor: 'rgba(255,99,132,0.6)'
        }]
    }
});
</script>
<h2>Top Attacker IPs</h2>

<table border="1">
<tr>
    <th>IP Address</th>
    <th>Attack Count</th>
</tr>

{% for ip, count in top_ips %}
<tr>
    <td>{{ ip }}</td>
    <td>{{ count }}</td>
</tr>
{% endfor %}

</table>
<table>
<tr>
<th>Time</th>
<th>Attacker IP</th>
<th>country</th>
<th>Event</th>
</tr>

{% for a in alerts %}
<tr>
<td>{{ a.time }}</td>
<td>{{ a.attacker_ip }}</td>
<td>{{ a.country }}</td>
<td class="alert">{{ a.event }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>
